pipeline/pl_user_transfrom.json
{
	"name": "pl_user_transfrom",
	"properties": {
		"activities": [
			{
				"name": "cd_csv_parquet",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_csv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_gen2_parquet",
						"type": "DatasetReference",
						"parameters": {
							"filename": "operator.parquet",
							"folder": "backup/dbocobanOperators"
						}
					}
				]
			},
			{
				"name": "copy_transformUser",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "cd_csv_parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "userId",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "sourceId",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "firstname",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "firstname",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "lastname",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "lastname",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "email",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "email",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_gen2_parquet",
						"type": "DatasetReference",
						"parameters": {
							"filename": "operator.parquet",
							"folder": "backup/dbocobanOperators"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_gen2_parquet",
						"type": "DatasetReference",
						"parameters": {
							"filename": "transformUser.parquet",
							"folder": "transform/users"
						}
					}
				]
			},
			{
				"name": "Copy_existingUsers",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "access_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@variables('access_token')",
								"type": "Expression"
							},
							"X-Tenant-Id": "dvmspoc"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "Id",
									"type": "Guid"
								}
							},
							{
								"source": {
									"path": "['email']"
								},
								"sink": {
									"name": "email",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['firstname']"
								},
								"sink": {
									"name": "firstname",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['lastname']"
								},
								"sink": {
									"name": "lastname",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['content']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "ds_tenant_security",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_gen2_parquet",
						"type": "DatasetReference",
						"parameters": {
							"filename": "tenantSecurityUsers.parquet",
							"folder": "nexus/users"
						}
					}
				]
			},
			{
				"name": "access_token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "copy_transformUser",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "access_token",
					"value": "Bearer 943EF1C41CA60D28E6D6A9F5F5A66F998C9A5927B8491C3F8F189103AA8A54C2-1"
				}
			},
			{
				"name": "copyActivityTocreateUsers",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "df_userstobeAdded",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "df_userstobeAdded",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy_existingUsers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_users_tobeAdded",
						"type": "DataFlowReference",
						"datasetParameters": {
							"transformSource": {
								"filename": "transformUser.parquet",
								"folder": "transform/users"
							},
							"nexusSources": {
								"filename": "tenantSecurityUsers.parquet",
								"folder": "nexus/users"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Coarse"
				}
			},
			{
				"name": "Copy_existingUsers_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "copyActivityTocreateUsers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@variables('access_token')",
								"type": "Expression"
							},
							"X-Tenant-Id": "dvmspoc"
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "Id",
									"type": "Guid"
								}
							},
							{
								"source": {
									"path": "['email']"
								},
								"sink": {
									"name": "email",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['firstname']"
								},
								"sink": {
									"name": "firstname",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['lastname']"
								},
								"sink": {
									"name": "lastname",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['content']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "ds_tenant_security",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_gen2_parquet",
						"type": "DatasetReference",
						"parameters": {
							"filename": "tenantSecurityUsers.parquet",
							"folder": "nexus/users"
						}
					}
				]
			},
			{
				"name": "df_toupdateBridgeUser",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy_existingUsers_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_bridge",
						"type": "DataFlowReference",
						"datasetParameters": {
							"nexusSource": {
								"filename": "operator.parquet",
								"folder": "backup/dbocobanOperators"
							},
							"transformSource": {
								"filename": "operator.parquet",
								"folder": "backup/dbocobanOperators"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"access_token": {
				"type": "String"
			}
		},
		"folder": {
			"name": "dvms"
		},
		"annotations": []
	}
}